[Desktop Entry]
Encoding=UTF-8
Name=Volkshash Core
Comment=Volkshash P2P Cryptocurrency
Comment[de]=Verbinde mit dem Volkshash peer-to-peer Netzwerk
Comment[fr]=Volkshash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Volkshash, eşten eşe kriptografik sanal para birimi
Exec=volkshash-qt %u
Terminal=false
Type=Application
Icon=volkshash128
MimeType=x-scheme-handler/volkshash;
Categories=Office;Finance;
