[Unit]
Description=Volkshash's distributed currency daemon
After=network.target

[Service]
User=volkshashcore
Group=volkshashcore

Type=forking
PIDFile=/var/lib/volkshashd/volkshashd.pid
ExecStart=/usr/bin/volkshashd -daemon -pid=/var/lib/volkshashd/volkshashd.pid \
-conf=/etc/volkshashcore/volkshash.conf -datadir=/var/lib/volkshashd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
